@model Cinemania.Carteleras

@{
    @*Layout = "~/Views/Shared/_LayoutCarteleras.cshtml";*@
}

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Nueva cartelera</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>

        <!-- Menu -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">CINEMANIA</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Administracion</a></li>
                        <li><a href="../"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesion</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            @*using (Html.BeginForm("/NuevoPelicula", "Administracion", new { enctype = "multipart/form-data", @class = "text-danger" }))*@

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

                <!-- CABECERA -->
                <h2 class="text-center">Nueva cartelera</h2>

                <!-- INPUT NOMBRE -->
                <div class="form-group">
                    <label for="Sede">Sede</label>
                    @Html.DropDownList("IdSede", null, "Selecione Sede", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdSede, "", new { @class = "text-danger" })

                </div>

                <!-- INPUT DESCRIPCION -->
                <div class="form-group">
                    <label for="Sede">Pelicula</label>

                    @Html.DropDownList("IdPelicula", null, "Selecione Pelicula", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdPelicula, "", new { @class = "text-danger" })
                </div>

                <!-- INPUT CALIFICACION -->
<<<<<<< HEAD

                <div class="form-group">
                    @Html.LabelFor(model => model.HoraInicio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.HoraInicio, new { @class = "form-control horario time ui-timepicker-input" })
                        @Html.ValidationMessageFor(model => model.HoraInicio, "", new { @class = "text-danger" })
                    </div>
=======
                <div class="form-group">

                    <label for="horai">Hora inicio</label>
                    <select>
                        <option value="10:00">10:00</option>

                        <option value="12:00">12:00</option>
                        <option value="14:00">14:00</option>

                        <option value="16:00">16:00</option>
                        <option value="19:00">19:00</option>

                    </select>
                    @Html.EditorFor(model => model.HoraInicio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HoraInicio, "", new { @class = "text-danger" })
>>>>>>> 24015a67021261dbd545174a4500f470cdd3f8b9
                </div>


                <div class="form-group">
                    <label for="lunes">Lunes</label>
                    @Html.CheckBox("lunes", true)
<<<<<<< HEAD

                    <label for="martes">Martes</label>
                    @Html.CheckBox("martes", true)

                    <label for="miercoles">Miercoles</label>
                    @Html.CheckBox("miercoles", true)

                    <label for="jueves">Jueves</label>
                    @Html.CheckBox("jueves", true)

                    <label for="viernes">Viernes</label>
                    @Html.CheckBox("viernes", true)

=======

                    <label for="martes">Martes</label>
                    @Html.CheckBox("martes", true)

                    <label for="miercoles">Miercoles</label>
                    @Html.CheckBox("miercoles", true)

                    <label for="jueves">Jueves</label>
                    @Html.CheckBox("jueves", true)

                    <label for="viernes">Viernes</label>
                    @Html.CheckBox("viernes", true)

>>>>>>> 24015a67021261dbd545174a4500f470cdd3f8b9
                    <label for="sabado">Sabado</label>
                    @Html.CheckBox("sabado", true)

                    <label for="domingo">Domingo</label>
                    @Html.CheckBox("domingo", true)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <!-- INPUT DURACION -->
                <div class="form-group">
                    <label for="sala">Numero de sala</label>
                    @Html.EditorFor(model => model.NumeroSala, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumeroSala, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="version">Version</label>
                    @Html.DropDownList("IdVersion", null, "Selecione version", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdVersion, "", new { @class = "text-danger" })

                </div>
                <!-- BOTON GUARDAR -->
                <div class="text-center">
                    <input type="submit" class="btn btn-success" value="Guardar" />

                    <!-- LINK SALIR -->
                    <!--<a href="./Peliculas" class="btn btn-default">Cancelar</a>-->
                </div>

            </div>
        }
    </div>

    

        
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <link href="~/Content/jquery-ui.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.timepicker.js"></script>
        <script src="~/Scripts/Fecha.js"></script>
        <script src="~/Scripts/Horario.js"></script>
        

</body>
</html>

