<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- nav responsive-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    @RenderSection("Menu", false)

    @RenderBody()
    <div class="container">
        <h2 class="text-center">Peliculas</h2><br>

        @foreach (Cinemania.Peliculas p in Model)
        {
        <div class="col-sm6 col-md-3">
            <div class="thumbnail">
                <img src="/imagenes/@p.Imagen" class="img-rounded"  />
                <div class="caption">
                    <h4>@p.Nombre</h4>
                    <p>@p.Generos.Nombre</p>
                    <p>@p.Calificaciones.Nombre</p>
                    <a href="./NuevoReporte?IdReporte=@p.IdPelicula" class="center-block btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> COMPRAR ENTRADA</a>
                </div>
            </div>
        </div>
        }   

    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
